<%= simple_form_for([@client,@productivity]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :analysis_start_date, :label => "Início da análise" %>
    <%= f.input :analysis_end_date, :label => "Fim da análise" %>
    <%= f.input :call_qty, :label => "Ligações" %>
    <%= f.input :answered_call_qty, :label => "Ligações respondidas" %>
    <%= f.input :interlocutor_qty, :label => "Interlocutores" %>
    <%= f.input :schedule_qty, :label => "Agendamentos" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :label => "Salvar" %>
  </div>
<% end %>
