<%= simple_form_for([@client,@productivity]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- <%= f.association :client %> -->
    <%= f.input :analysis_start_date %>
    <%= f.input :analysis_end_date %>
    <%= f.input :call_qty %>
    <%= f.input :answered_call_qty %>
    <%= f.input :interlocutor_qty %>
    <%= f.input :schedule_qty %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
