<div class="col-lg-6">
<div class="well bs-component live-less-editor-hovercontainer" >
<%= simple_form_for(@productivity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :client, :label => "Cliente" %>
    <%= f.input :analysis_start_date, :label => "Início da análise" %>
    <%= f.input :analysis_end_date, :label => "Fim da análise" %>
    <%= f.input :call_qty, :label => "Ligações" %>
    <%= f.input :answered_call_qty, :label => "Ligações respondidas" %>
    <%= f.input :interlocutor_qty, :label => "Interlocutores" %>
    <%= f.input :schedule_qty, :label => "Agendamentos" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <%= link_to "Voltar", :back,  class: "btn btn-warning" %>
  </div>
<% end %>
</div>
</div>
