<h1>Produtividade</h1>
<ul class="list-inline">
  <li>
    <%= button_to edit_productivity_path(@productivity), method: :get, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      Editar
    <% end %>
  </li>
  <li>
    <%= button_to productivity_path(@productivity), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Remover
    <% end %>
  </li>
</ul>
<br>

<p>
  <strong>Cliente:</strong>
  <%= @productivity.client.name %>
</p>

<p>
  <strong>Início da análise:</strong>
  <%= @productivity.analysis_start_date %>
</p>

<p>
  <strong>Fim da análise:</strong>
  <%= @productivity.analysis_end_date %>
</p>

<p>
  <strong>Ligações:</strong>
  <%= @productivity.call_qty %>
</p>

<p>
  <strong>Ligações respondidas:</strong>
  <%= @productivity.answered_call_qty %>
</p>

<p>
  <strong>Interlocutores:</strong>
  <%= @productivity.interlocutor_qty %>
</p>

<p>
  <strong>Agendamentos:</strong>
  <%= @productivity.schedule_qty %>
</p>
