<h1>Usuários</h1>

<ul class="list-inline">
  <li>
    <%= button_to new_user_registration_path, method: :get, class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
    <% end %>
  </li>
</ul>

<table id="table"
  class="table table-hover"
  data-toggle="table"
  data-id-table="advancedTable"
  data-search="true"
  data-pagination="true">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Email</th>
      <th>Perfil</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="btn-field view-btn-field">
          <%= button_to user_path(user), method: :get, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle status-desc-menu-btn" type="button" data-toggle="dropdown">
              <%= user.role %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% User.roles.each do |desc,role|%>
                <li>
                  <%= link_to user_path(user, params: {"user[role]" => desc}),
                    method: :put,
                    data: {
                      confirm: role_update_confirmation_message(user.role,desc)
                    } do %>
                    <%= desc %>
                  <%end%>
                </li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
