<%= simple_form_for([@client,@schedule]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- <%= f.association :client, disabled: true, selected: params[:client_id] %> -->
    <%= f.input :name %>
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %>
    <%= f.input :contact_date %>
    <%= f.input :visit_datetime %>
    <%= f.input :address %>
    <%= f.input :observation %>

    <!-- <%= f.input :status,
      collection: status_options,
      selected: @schedule.status %> -->

    <!-- <%= f.input :confirmation_status,
      collection: confirmation_status_options,
      selected: @schedule.confirmation_status %> -->

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
