<table id="table"
  class="table table-hover table-striped"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
  data-show-columns="true"
  data-show-refresh="true">
  <thead>
    <tr>
      <th data-switchable="false"></th>
      <th data-field="client" data-sortable="true">Cliente</th>
      <th data-field="name" data-sortable="true">Nome da empresa</th>
      <th data-field="contact_name" data-sortable="true">Nome do contato</th>
      <th data-field="contact_phone" data-sortable="true">Telefone do contato</th>
      <th data-field="contact_datetime" data-sortable="true">Data do contato</th>
      <th data-field="visit_datetime" data-sortable="true">Data da Visita</th>
      <th data-field="address" data-sortable="true">Endereço</th>
      <th data-field="observation" data-sortable="true">Observações</th>
      <th data-field="status" data-sortable="true">Status</th>
      <th data-field="confirmation_status" data-sortable="true">Confirmação</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td class="view-btn-field">
          <%= button_to schedule_path(schedule), method: :get, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= schedule.client.name %></td>
        <td><%= schedule.name %></td>
        <td><%= schedule.contact_name %></td>
        <td><%= schedule.contact_phone %></td>
        <td><%= schedule.contact_date %></td>
        <td><%= schedule.get_visit_complete_date %></td>
        <td><%= schedule.address %></td>
        <td class="col-md-2"><%= schedule.observation %></td>
        <td class="status-btns">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle status-desc-menu-btn" type="button" data-toggle="dropdown">
              <%= schedule.get_status_desc %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% Schedule.get_valid_status.each do |status,desc|%>
                <li>
                  <%= link_to schedule_path(schedule,params: {"schedule[status]" => status}),
                    method: :put,
                    data: {
                      confirm: status_update_confirmation_message(schedule.get_status_desc,desc)
                    } do %>
                    <%= desc %>
                  <%end%>
                </li>
              <% end %>
            </ul>
          </div>
        </td>
        <td class="status-btns">

          <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
          <!-- UPDATE_CONFIRMATION_STATUS -->
          <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
          <% if schedule.confirmation_status.equal? 0 %>

            <ul class="list-inline">
              <li>
                <%= link_to schedule_path(schedule, params: {"schedule[confirmation_status]" => 1}),
                  method: :put,
                  data: {
                    confirm: 'Tem certeza que deseja CONFIRMAR esse agendamento?'
                  } do %>
                  <span class="btn btn-success glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% end %>
              </li>
              <li>
                <%= link_to schedule_path(schedule, params: {"schedule[confirmation_status]" => 2}),
                  method: :put,
                  data: {
                    confirm: 'Tem certeza que deseja DESCONFIRMAR esse agendamento?'
                  } do %>
                  <span class="btn btn-danger glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </li>
            <ul>

          <% else %>

            <ul class="list-inline">
              <li>
                <span class="<%= schedule_confirmation_status_btnclasses(schedule) %>"
                  aria-hidden="true"></span>
              </li>
            </ul>

          <% end %>
          <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
