<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>


<%= will_paginate %>
<ul class="clients">
  <% @schedules.each do |schedule| %>
    <li>
      <%= render partial: "schedule_tag", object: schedule, as: "schedule" %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
