<p id="notice"><%= notice %></p>

<h1>Agendamentos</h1>

<%= button_to new_schedule_path, method: :get, class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true">Novo</span>
<% end %>

<table id="table"
  class="table table-hover"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
  data-show-columns="true"
  data-show-refresh="true">
  <thead>
    <tr>
      <th data-field="client_name" data-sortable="true">Cliente</th>
      <th data-field="name" data-sortable="true">Nome da empresa</th>
      <th data-field="contact_name" data-sortable="true">Nome do contato</th>
      <th data-field="contact_phone" data-sortable="true">Telefone do contato</th>
      <th data-field="contact_datetime" data-sortable="true">Data do contato</th>
      <th data-field="visit_datetime" data-sortable="true">Data da Visita</th>
      <th data-field="address" data-sortable="true">Endereço</th>
      <th data-field="observation" data-sortable="true">Observações</th>
      <th data-field="status" data-sortable="true">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.client.name, client_path(schedule.client) %></td>
        <td><%= schedule.name %></td>
        <td><%= schedule.contact_name %></td>
        <td><%= schedule.contact_phone %></td>
        <td><%= schedule.contact_date %></td>
        <td><%= schedule.visit_datetime %></td>
        <td><%= schedule.address %></td>
        <td class="col-md-2"><%= schedule.observation %></td>
        <td class="status-btns">
          <%= render partial: "update_status", object: schedule, as: "schedule" %>
        </td>
        <td class="action-btns">
          <%= render partial: "action_btns", object: schedule, as: "schedule" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
