<h1><%= @schedule.name %></h1>
<ul class="list-inline">
  <li>
    <%= button_to edit_client_schedule_path(@client,@schedule), method: :get, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      Editar
    <% end %>
  </li>
  <li>
    <%= button_to client_schedule_path(@client,@schedule), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Remover
    <% end %>
  </li>
</ul>
<br>

<p>
  <strong>Nome do contato:</strong>
  <%= @schedule.contact_name %>
</p>

<p>
  <strong>Telefone do contato:</strong>
  <%= @schedule.contact_phone %>
</p>

<p>
  <strong>Data do contato:</strong>
  <%= @schedule.contact_date %>
</p>

<p>
  <strong>Data da Visita:</strong>
  <%= @schedule.visit_datetime %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @schedule.address %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @schedule.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @schedule.get_status_desc %>
</p>

<p>
  <strong>Status de confirmação:</strong>
  <%= @schedule.get_confirmation_status_desc %>
</p>
