<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @schedule.datetime %>
</p>

<p>
  <strong>Client:</strong>
  <%= @schedule.client %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
