<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @schedule.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @schedule.contact_phone %>
</p>

<p>
  <strong>Contact date:</strong>
  <%= @schedule.contact_date %>
</p>

<p>
  <strong>Visit datetime:</strong>
  <%= @schedule.visit_datetime %>
</p>

<p>
  <strong>Address:</strong>
  <%= @schedule.address %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @schedule.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= status_name?(@schedule.status) %>
</p>

<p>
  <strong>Client:</strong>
  <%= @schedule.client %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
