<div class="col-lg-6">
<div class="well bs-component live-less-editor-hovercontainer" >
<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Nome" %>
    <%= f.input :address, :label => "Endereço" %>
    <%= f.input :billing_date, :label => "Data de cobrança" %>
    <%= f.input :contract_start_date, :label => "Início do contrato" %>
  </div>

  <fieldset>
    <legend>Contatos</legend>
    <div class="form-actions">
      <%= link_to_add_association 'Adicionar contato', f, :contacts,
        :class => "btn btn-default", :render_options => {:display => 'inline' } %>
    </div>
    <%= f.fields_for :contacts do |contact| %>
      <%= render "contact_fields", :f => contact %>
    <% end %>
  </fieldset>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <%= link_to "Voltar", :back,  class: "btn btn-warning" %>
  </div>
<% end %>
</div>
</div>
