<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<%= will_paginate %>
<ul class="clients">
  <% @clients.each do |client| %>
    <li>
      <%= render partial: "client_tag", object: client, as: "client" %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'New Client', new_client_path %>
