<h1>Clientes</h1>

<ul class="list-inline">
  <li>
    <%= button_to new_client_path, method: :get, class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true">Novo</span>
    <% end %>
  </li>
  <li>
    <%= button_to clients_url(format: "csv"), method: :get, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download
    <% end %>
  </li>
</ul>

<table id="table"
  class="table table-hover"
  data-toggle="table"
  data-id-table="advancedTable"
  data-search="true"
  data-pagination="true">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de cobrança</th>
      <th>Início do contrato</th>
      <th>Endereço</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.billing_date %></td>
        <td><%= client.contract_start_date %></td>
        <td><%= client.address %></td>
        <td class="action-btns">
          <%= render partial: "action_btns", object: client, as: 'client' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
