<h1><%= @client.name %></h1>

<ul class="list-inline">

  <% if can? :update, @client %>
  <li>
    <%= button_to edit_client_path(@client), method: :get, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      Editar
    <% end %>
  </li>
  <% end %>

  <% if can? :destroy, @client %>
  <li>
    <%= button_to @client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Remover
    <% end %>
  </li>
  <% end %>

</ul>
<br>

<p>
  <strong>Data de cobrança:</strong>
  <%= @client.billing_date %>
</p>

<p>
  <strong>Início do contrato:</strong>
  <%= @client.contract_start_date %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Contatos:</strong>
  <ul>
    <% @client.contacts.each do |contact| %>
      <li>Nome: <%= contact.name %> | Email: <%= contact.email %> | Telefone: <%= contact.phone %></li>
    <% end %>
  </ul>
</p>
