<h1>Documento</h1>

<ul class="list-inline">

  <% if can? :update, @document %>
  <li>
    <%= button_to edit_document_path(@document), method: :get, class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      Editar
    <% end %>
  </li>
  <% end %>

  <% if can? :destroy, @document %>
  <li>
    <%= button_to document_path(@document), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Remover
    <% end %>
  </li>
  <% end %>

</ul>
<br>

<p>
  <strong>Título:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Decrição:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= link_to "Download", @document.file.url(:original, false) %>
</p>
