<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <style type="text/css">
    .tableheader { background-color:#aaaaaa; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  </style>

  <body>
    (Mensagem automática)
    <h3>ALBACLARA - Agendamento desmarcado para <%= @client.name %></h3>

    <table border="1" cellpadding="10" cellspacing="0">
      <thead>
        <tr class="tableheader">
          <th>Nome da empresa</th>
          <th>Nome do contato</th>
          <th>Telefone do contato</th>
          <th>Data do contato</th>
          <th>Data da Visita</th>
          <th>Endereço</th>
          <th>Observações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @schedule.name %></td>
          <td><%= @schedule.contact_name %></td>
          <td><%= @schedule.contact_phone %></td>
          <td><%= @schedule.contact_date %></td>
          <td><%= @schedule.visit_datetime %></td>
          <td><%= @schedule.address %></td>
          <td><%= @schedule.observation %></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
