<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <style type="text/css">
    .tableheader { background-color:#aaaaaa; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  </style>

  <body>
    <h1>Produtividade para <%= @client.name %></h1>

    <table border="1" cellpadding="10" cellspacing="0">
      <thead>
        <tr class="tableheader">
          <th>Analysis start date</th>
          <th>Analysis end date</th>
          <th>Call qty</th>
          <th>Answered call qty</th>
          <th>Interlocutor qty</th>
          <th>Schedule qty</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @productivity.analysis_start_date %></td>
          <td><%= @productivity.analysis_end_date %></td>
          <td><%= @productivity.call_qty %></td>
          <td><%= @productivity.answered_call_qty %></td>
          <td><%= @productivity.interlocutor_qty %></td>
          <td><%= @productivity.schedule_qty %></td>
        </tr>
      </tbody>
    </table>


  </body>
</html>
