<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <style type="text/css">
    .tableheader { background-color:#aaaaaa; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  </style>

  <body>
    (Mensagem automática)
    <h1>ALBACLARA - Atualização da produtividade para <%= @client.name %></h1>

    <table border="1" cellpadding="10" cellspacing="0">
      <thead>
        <tr class="tableheader">
          <th>Início da análise</th>
          <th>Fim da análise</th>
          <th>Ligações</th>
          <th>Ligações respondidas</th>
          <th>Interlocutores</th>
          <th>Agendamentos</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @productivity.analysis_start_date %></td>
          <td><%= @productivity.analysis_end_date %></td>
          <td><%= @productivity.call_qty %></td>
          <td><%= @productivity.answered_call_qty %></td>
          <td><%= @productivity.interlocutor_qty %></td>
          <td><%= @productivity.schedule_qty %></td>
        </tr>
      </tbody>
    </table>


  </body>
</html>
