<h1>Status</h1>

<table id="table"
  class="table table-hover table-striped"
  data-toggle="table"
  data-search="true"
  data-pagination="false"
  data-show-columns="true"
  data-show-refresh="true"
  >
  <thead>
    <tr>
      <th></th>
      <% @dates.each do |d| %>
        <th data-sortable="true"><%= get_date_name(d) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
      <tr class="total_line">
        <td>
          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal<%= c.id %>">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
          <%= c.name %>
        </td>
        <% @dates.each do |d| %>
          <td><%= get_schedules_count(@schedules_per_client[c.id][d]) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% @clients.each do |c| %>
  <%= render partial: "report/schedules/detailed_status",
    locals: {
      client: c,
      schedule: @schedules_per_client,
      dates: @dates
    }
  %>
<% end %>
